.dashboard-container {
  display: block;
  text-align: center;
}

h2 {
  margin: 10px 0;
}

input[type="text"] {
  border: 1px solid #ccc;
  height: 40px;
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

ul {
  width: 100%;
  display: flex;
}

.recipe-item {
  /* this is li item */
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  border: 1px solid #ccc;
  list-style-type: none;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}

.recipe-item img {
  max-width: 100%;
  border: 1px solid #ccc;
}

.action-btn {
  width: 40px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.recipe-content-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-action-items {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: end;
  padding-bottom: 10px;
}

.btn {
  min-width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transform: translate(0px, 3px);
}

.green-btn {
  background-color: green;
}
