<div class="dashboard-container">
  <h2>Recipes List</h2>

  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search Recipes"
    (input)="searchRecipes()"
  />
  <button class="btn green-btn" (click)="openModal()">+</button>

  <ul>
    <li
      class="recipe-item"
      *ngFor="let recipe of recipes"
      (click)="openModal(recipe, true)"
    >
      <div class="recipe-content-wrapper">
        <img [src]="recipe.featuredImage | safeUrl" alt="" />
        <h2>{{ recipe.title }}</h2>
        <span>
          <b>Ingredients: </b>
          <span *ngFor="let ingredient of recipe.ingredients; let i = index"
            >{{ ingredient.name }}
          </span>
        </span>
      </div>

      <div class="recipe-action-items">
        <div class="rating">
          <div>
            <span
              *ngFor="let i of [1, 2, 3, 4, 5]"
              class="star"
              [class.filled]="
                i <=
                (hoverRating > 0
                  ? hoverRating
                  : recipe.userRating || hoverRating)
              "
              (mouseenter)="setHoverRating(recipe, i); $event.stopPropagation()"
              (mouseleave)="resetHoverRating(recipe); $event.stopPropagation()"
              (click)="rateRecipe(recipe, i); $event.stopPropagation()"
            >
              ★
            </span>
          </div>

          <div>Average Rating {{ recipe.averageRating }}</div>
        </div>
        <div>
          <img
            class="action-btn"
            src="assets/images/edit.svg"
            (click)="openModal(recipe); $event.stopPropagation()"
          />
          <img
            class="action-btn"
            src="assets/images/delete.svg"
            (click)="deleteRecipe(recipe._id!); $event.stopPropagation()"
          />
        </div>
      </div>
    </li>
  </ul>

  <recipe-modal
    *ngIf="showModal"
    [recipe]="selectedRecipe"
    [isViewOnlyRecipe]="isViewOnlyRecipe"
    (closeModal)="closeModal()"
    (saveRecipe)="saveRecipe($event)"
  ></recipe-modal>
</div>
