<nav class="navbar">
  <div class="navbar-brand">
    <img class="logo" src="assets/images/recipe-haven.png" alt="" />
    <a routerLink="/dashboard" class="app-brand" style="vertical-align: top"
      >Recipe Haven</a
    >
  </div>
  <ul class="navbar-links">
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/signup">Signup</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
