<nav class="navbar">
  <div class="navbar-brand">
    <img class="logo" src="assets/images/recipe-haven.png" alt="" />
    <a (click)="goToDashboard()" class="app-brand" style="vertical-align: top"
      >Recipe Haven</a
    >
  </div>
  <ul class="navbar-links">
    <li *ngIf="!authService.isLoggedIn()">
      <a (click)="goToLogin()">Login</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a (click)="goToSignUp()">Signup</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a (click)="goToDashboard()">Dashboard</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <button class="red-btn" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
