<div class="modal-overlay" (click)="closeModalParent($event)">
  <div class="modal-content" *ngIf="!isViewOnlyRecipe">
    <!-- close btn on top right -->
    <img
      class="action-btn"
      src="assets/images/delete.svg"
      (click)="onClose()"
    />
    <h2>{{ recipe ? "Edit Recipe" : "Add Recipe" }}</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSave()">
      <input type="text" placeholder="Title" formControlName="title" />
      <input
        type="text"
        placeholder="Image URL"
        formControlName="featuredImage"
      />

      <h3>Ingredients</h3>
      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >
          <input
            type="text"
            placeholder="Ingredient Name"
            formControlName="name"
          />
          <input
            type="text"
            placeholder="Quantity"
            formControlName="quantity"
          />
          <div style="display: flex; justify-content: end; padding: 10px">
            <button
              type="button"
              (click)="removeIngredient(i)"
              class="btn red-btn"
            >
              Remove
            </button>
          </div>
        </div>
        <button type="button" class="btn green-btn" (click)="addIngredient()">
          Add Ingredient
        </button>
      </div>

      <h3>Steps</h3>
      <div formArrayName="steps">
        <div *ngFor="let step of steps.controls; let i = index">
          <textarea placeholder="Step" [formControlName]="i"></textarea>
          <div style="display: flex; justify-content: end; padding: 10px">
            <button type="button" (click)="removeStep(i)" class="btn red-btn">
              Remove
            </button>
          </div>
        </div>
        <button type="button" (click)="addStep()" class="btn green-btn">
          Add Step
        </button>
      </div>

      <button type="submit" style="margin-right: 10px" class="btn green-btn">
        Save Recipe
      </button>
      <button
        type="button"
        style="margin-right: 10px"
        class="btn red-btn"
        (click)="onClose()"
      >
        Cancel
      </button>
    </form>
  </div>

  <div class="modal-content" *ngIf="isViewOnlyRecipe && recipe != null">
    <img
      style="position: absolute; right: 10px"
      class="action-btn"
      src="assets/images/close.svg"
      (click)="onClose()"
    />
    <h1>{{ recipe.title }}</h1>
    <img style="max-width: 100%" [src]="recipe.featuredImage" alt="" />
    <div>
      <div style="text-align: left">
        <h3>Ingredients:</h3>
        <span *ngFor="let ingredient of recipe.ingredients; let i = index"
          >{{ ingredient.name }}
        </span>
      </div>
    </div>
    <div style="margin-top: 10px">
      <span style="text-align: left">
        <div style="text-align: left; margin-bottom: 10px"><h2>Steps:</h2></div>
        <div
          style="
            text-align: left;
            cursor: pointer;
            font-size: 18px;
            margin-bottom: 10px;
          "
          *ngFor="let step of recipe.steps; let i = index"
          (click)="toggleComplete($event)"
        >
          {{ step }}
        </div>
      </span>
    </div>
  </div>
</div>
