<div class="modal-overlay">
  <div class="modal-content">
    <h2>{{ recipe ? "Edit Recipe" : "Add Recipe" }}</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSave()">
      <input type="text" placeholder="Title" formControlName="title" />
      <input
        type="text"
        placeholder="Image URL"
        formControlName="featuredImage"
      />

      <h3>Ingredients</h3>
      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >
          <input
            type="text"
            placeholder="Ingredient Name"
            formControlName="name"
          />
          <input
            type="text"
            placeholder="Quantity"
            formControlName="quantity"
          />
          <div style="display: flex; justify-content: end; padding: 10px">
            <button
              type="button"
              (click)="removeIngredient(i)"
              class="btn red-btn"
            >
              Remove
            </button>
          </div>
        </div>
        <button type="button" class="btn green-btn" (click)="addIngredient()">
          Add Ingredient
        </button>
      </div>

      <h3>Steps</h3>
      <div formArrayName="steps">
        <div *ngFor="let step of steps.controls; let i = index">
          <textarea placeholder="Step" [formControlName]="i"></textarea>
          <div style="display: flex; justify-content: end; padding: 10px">
            <button type="button" (click)="removeStep(i)" class="btn red-btn">
              Remove
            </button>
          </div>
        </div>
        <button type="button" (click)="addStep()" class="btn green-btn">
          Add Step
        </button>
      </div>

      <button type="submit" style="margin-right: 10px" class="btn green-btn">
        Save Recipe
      </button>
      <button
        type="button"
        style="margin-right: 10px"
        class="btn red-btn"
        (click)="onClose()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
